In [1]:
%matplotlib inline
import pandas as pd
import seaborn as sns
import math
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np

Number 1

In [5]:
df_ACGL = pd.read_csv('./ACGL.csv')
df_DOW = pd.read_csv('./DOW.csv')
df_EXR = pd.read_csv('./EXR.csv')
df_TMUS = pd.read_csv('./TMUS.csv')
df_UNP = pd.read_csv('./UNP.csv')

In [19]:
df_DOW

,Date,High,Low,Open,Close,Volume,Adj Close
0,2019-03-20,53.500000,49.500000,52.750000,49.799999,2350800.0,42.358807
1,2019-03-21,50.000000,48.200001,49.990002,48.980000,1764700.0,41.661324
2,2019-03-22,49.950001,48.160000,48.799999,48.599998,844700.0,41.338104
3,2019-03-25,49.400002,48.000000,48.599998,49.150002,440900.0,41.805935
4,2019-03-26,49.750000,48.180000,49.000000,48.849998,504700.0,41.550755
...,...,...,...,...,...,...,...
917,2022-11-07,49.529999,48.310001,48.990002,49.500000,5849000.0,49.500000
918,2022-11-08,50.349998,49.450001,49.889999,49.650002,4739700.0,49.650002
919,2022-11-09,49.389999,47.570000,49.349998,47.680000,5089900.0,47.680000
920,2022-11-10,50.020000,49.119999,49.450001,49.959999,6592000.0,49.959999
921,2022-11-11,53.439999,50.900002,51.000000,53.139999,9009200.0,53.139999

In [29]:
dif_ACGL = df_ACGL['Close'] - df_ACGL['Adj Close']
dif_DOW = df_DOW['Close'] - df_DOW['Adj Close']
dif_EXR = df_EXR['Close'] - df_EXR['Adj Close']
dif_TMUS = df_TMUS['Close'] - df_TMUS['Adj Close']
dif_UNP = df_UNP['Close'] - df_UNP['Adj Close']

In [30]:
for i in dif_ACGL:
    if dif_ACGL[i] != 0: 
        print('Difference')

ACGL has no differences between Close and Adj Close

In [32]:
df_ACGL['Adj Close'].max()

58.400001525878906

In [33]:
df_ACGL['Adj Close'].min()

22.239999771118164

In [34]:
df_DOW['Adj Close'].max()

70.61000061035156

In [35]:
df_DOW['Adj Close'].min()

19.87366104125977

In [36]:
df_EXR['Adj Close'].max()

226.72999572753903

In [37]:
df_EXR['Adj Close'].min()

67.9879379272461

In [38]:
df_TMUS['Adj Close'].max()

152.27999877929688

In [39]:
df_TMUS['Adj Close'].min()

55.58000183105469

In [40]:
df_UNP['Adj Close'].max()

276.69000244140625

In [41]:
df_UNP['Adj Close'].min()

105.29598236083984

In [48]:
gain_ACGL = df_ACGL['Close'] - df_ACGL['Open']
gain_DOW = df_DOW['Close'] - df_DOW['Open']
gain_EXR = df_EXR['Close'] - df_EXR['Open']
gain_TMUS = df_TMUS['Close'] - df_TMUS['Open']
gain_UNP = df_UNP['Close'] - df_UNP['Open']

In [49]:
df_ACGL[gain_ACGL].max()

KeyError: "None of [Index([   0.2733325958251953, -0.053335189819332385,    0.3966655731201172,\n         -0.3066673278808594,   0.22666740417480113,  -0.05333518981933594,\n          0.3366661071777344,   -0.4666652679443395,  -0.07999992370605113,\n         0.22000122070312855,\n       ...\n          1.1800003051757812,   -2.0800018310546946,    1.0500030517578125,\n          0.6599998474121165,   0.04000091552734375,     0.979999542236321,\n        -0.18999862670898438,   0.03000259399413352,  -0.37999725341797586,\n         -2.0699996948242188],\n      dtype='float64', length=1259)] are in the [columns]"

In [51]:
df_ACGL['Volume'].mean()

1829874.900714853

In [52]:
df_DOW['Volume'].mean()

5236099.891540131

In [53]:
df_EXR['Volume'].mean()

885736.7752184273

In [54]:
df_TMUS['Volume'].mean()

4490314.535345512

In [55]:
df_UNP['Volume'].mean()

3485972.9944400317

Number 2

In [57]:
url = 'https://ies-python-midterm.s3.eu-central-1.amazonaws.com/companies/companies_no_subindustry.csv'
df = pd.read_csv(url)

In [58]:
df

,Symbol,Security,GICS_Sector,hq,included,Founded
0,MMM,3M,Industrials,"Saint Paul, Minnesota",09.08.1976,1902
1,AOS,A. O. Smith,Industrials,"Milwaukee, Wisconsin",26.07.2017,1916
2,ABT,Abbott,Health Care,"North Chicago, Illinois",31.03.1964,1888
3,ABBV,AbbVie,Health Care,"North Chicago, Illinois",31.12.2012,2013 (1888)
4,ABMD,Abiomed,Health Care,"Danvers, Massachusetts",31.05.2018,1981
...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,"Louisville, Kentucky",06.10.1997,1997
499,ZBRA,Zebra Technologies,Information Technology,"Lincolnshire, Illinois",23.12.2019,1969
500,ZBH,Zimmer Biomet,Health Care,"Warsaw, Indiana",07.08.2001,1927
501,ZION,Zions Bancorporation,Financials,"Salt Lake City, Utah",22.06.2001,1873
502,ZTS,Zoetis,Health Care,"Parsippany, New Jersey",21.06.2013,1952

In [59]:
df.isnull().sum()

Symbol          0
Security        0
GICS_Sector     0
hq              0
included       45
Founded         0
dtype: int64

45 companies are not included

In [60]:
comp_without_miss_val = [col for col in df.columns if df[col].isna().sum()==0]

In [62]:
df['Founded'].max()

'2022'

In [63]:
df['Founded'].min()

'1784'